html {
    scroll-behavior: smooth;
}

h1.charity {
    text-align: center;
    font-size: 48px;
}

body {
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

div {
    padding: 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 30px;
}

.grid-item {
    padding: auto;
    text-align: center;
}

img {
    width: 500px;
    height: 300px;
    margin-right: 10px;
    float: left;
    border: 5px solid black;
}

.mapAWCC {
    float: none;
    width: 1000px;
    height: 650px;
}

img:hover {
    box-shadow: 0 0 5px 1px rgb(52, 204, 255);
}